/* 1. 홈 화면 + 접속 */
.Home_Screen {
	/* JANG: 홈 화면 이미지 변경하기 */
	background-image: url("../../public/resources/images/home-bg1.png");
	height: 100vh;
	width: 100vw;
	background-size: 100% 100%;
	/* 배경 이미지를 너비, 높이 100 100으로 확대 또는 축소 */
	background-position: center;
}

.Home_Button {
	background-image: url("../../public/resources/images/home-title.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	animation: bounce_title 1s ease infinite;
}

/* button {
	cursor: none !important; 
  } */
@keyframes bounce_title {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

/* 2. 게임 참가 */
.Game_Screen {
	/* JANG: 게임 창 이미지 변경하기 */
	background-image: url("../../public/resources/images/main-bg1.png");
	height: 100vh;
	width: 100vw;
	background-size: 100% 100%;
	/* 배경 이미지를 너비, 높이 100 100으로 확대 또는 축소 */
	background-position: center;
}

.JoinForm {
	text-align: center;
}

/* JANG: 경쟁모드 스타트 버튼 css -> 나중에 변경! */
/* 버튼의 기본 스타일 */
.Start_Button {
  background-color: darkred;
  padding: 20px 40px; /* 큰 버튼 사이즈 */
  border: none;
  border-radius: 20px; /* 둥근 모서리 */
  color: white;
  font-size: 50px; /* 큰 폰트 사이즈 */
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* 입체감 */
  transition: transform 0.1s ease, box-shadow 0.1s ease; /* 부드러운 애니메이션 효과 */
}

/* 버튼이 눌러질 때의 스타일 */
.Start_Button:active {
  transform: translateY(3px); /* 약간 아래로 이동 */
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); /* 입체감이 조금 줄어듦 */
}
