/* 1. 홈 화면 + 접속 */
.Home_Screen {
	/* JANG: 홈 화면 이미지 변경하기 */
	background-image: url("../../public/resources/images/home3-bg.jpg");
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
  }
  
  .Home_Button {
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	font-weight: bold;
	animation: bounce 1s ease infinite;
  }
  button {
	cursor: none !important;
  }
  @keyframes bounce {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.1);
	}
	100% {
	  transform: scale(1);
	}
  }
  
  /* 2. 게임 참가 */
  .Game_Screen {
	/* JANG: 게임 창 이미지 변경하기 */
	background-image: url("../../public/resources/images/home3-bg.jpg");
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
  }
  
  .JoinForm {
	text-align: center;
  }
  